.nav {
  color: #fff;
  position: fixed;
  right: 0;
  width: calc(100% - 290px);
  padding: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  /* padding: 6rem; */
  min-height: 100vh;
}

.main aside {
  position: fixed;
  padding: 40px;
  border: 1px solid #fff;

  width: min-content;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 64px;

  height: calc(100vh - 80px);

}

.main aside div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.main section {
  position: fixed;
  top: 50px;
  left: 290px
}
